{% extends 'layout.html.twig' %}
    {% block header %}
        {% include 'navbar.html.twig' %}
    {% endblock %}
{% block body %}
    <body class="single is-preload">
    <div class="container-fluid">
        <div class="row">
            <div class="homepage-picture">
                <h1 class="homepage-title">My Spot</h1>
            </div>
            <div class="recherche">
                {{ form_start(form) }}
                {{ form_row(form.title, {'attr': {'class': 'form-inline'}}) }}
                    <input id="search-btn" type="submit" value="Rechercher" />
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Menu -->
        <section id="menu">
            <!-- Search -->
            <section class="document" id="element">
                <form class="search document" method="get" action="#">
                    <input type="text" name="query" placeholder="Rechercher" />
                </form>
            </section>

            <!-- Actions -->
            <section>
                <ul class="actions stacked">
                    <li><a href="{{ path('user_registration') }}" class="button large fit">S'inscrire</a></li>
                </ul>
            </section>

        </section>

        <!-- Main -->
        <div id="main">
            <div class="row">
                    {% for annonce in annonces %}
                        <!-- Card deck -->
                        <div class="card-deck col-md-3 col-sm-12">
                            <!-- Card -->
                            <div class="card mb-4">
                                <!--Card image-->
                                <div class="view overlay">
                                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}">
                                    <img class="card-img-top" src="{{ vich_uploader_asset(annonce, 'imageFile') }}" alt="{{ annonce.title }}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">{{ annonce.title }}</h4>
                                    <p class="price">{{ annonce.price }}€</p>
                                    <p class="card-city"><i class="fas fa-map-marker-alt"></i> {{ annonce.city }}</p>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                        <!-- Card deck -->
                    {% endfor %}
                </div>
            </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="{{ path('index', {'page' : page - 1 , 'title' : title}) }}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{{ path('index', {'page' : 1, 'title' : title}) }}">1</a></li>
                <li class="page-item"><a class="page-link" href="{{ path('index', {'page' : 2, 'title' : title}) }}">2</a></li>
                <li class="page-item"><a class="page-link" href="{{ path('index', {'page' : page + 1, 'title' : title}) }}">Next</a></li>
            </ul>
        </nav>
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
    </div>
    <script src="{{ asset('static/search.js') }}"></script>
    </body>
{% endblock %}