{% extends 'layout.html.twig' %}
{% block body %}
<div class="container mt-5">
    {{ form_start(form) }}
    {{ form_row(form.fullName) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

<button class="mt-5 form-control" type="submit">S'inscrire !</button>
{{ form_end(form) }}
</div>
{% endblock %}