{% extends 'layout.html.twig' %}
{% block body %}
    <body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        {% block header %}
            {% include 'navbar.html.twig' %}
        {% endblock %}
        <!-- Menu -->
        <section id="menu">
            <!-- Search -->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Rechercher" />
                </form>
            </section>

            <!-- Links -->
            <section>
                <ul class="links">
                    <li>
                        <a href="#">
                            <h3>Lorem ipsum</h3>
                            <p>Feugiat tempus veroeros dolor</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Dolor sit amet</h3>
                            <p>Sed vitae justo condimentum</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Feugiat veroeros</h3>
                            <p>Phasellus sed ultricies mi congue</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Etiam sed consequat</h3>
                            <p>Porta lectus amet ultricies</p>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- Actions -->
            <section>
                <ul class="actions stacked">
                    <li><a href="{{ path('user_registration') }}" class="button large fit">S'inscrire</a></li>
                </ul>
            </section>
        </section>

        <!-- Main -->
        <div id="main">
            {% for annonce in annonces %}
                <!-- Post -->
                <div class="row">
                    <article class="post">
                        <header>
                            <div class="title">
                                <h2><a href="{{ path('annonce_show', {'id': annonce.id}) }}">{{ annonce.title }}</a></h2>
                                <p>{{ annonce.categorie }}</p>
                            </div>
                            <div class="meta">
                                <time class="published" datetime="2015-11-01">November 1, 2015</time>
                                <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
                            </div>
                        </header>
                        <span class="image featured"><img href="{{ path('annonce_show', {'id': annonce.id}) }}" src="{{ vich_uploader_asset(annonce, 'imageFile') }}" alt="photo de l'annonce" /></span>
                        <p>{{ annonce.description }} </p>
                    </article>
                </div>
            {% endfor %}
        </div>
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
    </div>
    <script src="{{ asset('static/search.js') }}"></script>
    </body>
{% endblock %}